.container {
    max-width: 80rem;
    padding: 4rem 2rem;
}

input.warning{
    margin-bottom: 0rem;
    border: 0.1rem solid red;
}

div.warning{
  margin-bottom: 1.5rem;
  color:red;
  font-size: 86%;
}

div.warning::before { 
    content: "* ";
}